.App {
	text-align: center;
	background: url(./images/conifers-daylight-environment-1666021.jpg)
		no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	overflow: scroll;
}

.section {
	margin-top: 10em;
}

.App-Container {
	max-width: 42em;
}

.App-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	height: 100vh;
}

.App-link {
	color: #61dafb;
}
.bandcamp {
	border: 0;
	width: 400px;
	height: 241px;
}

.center {
	margin: 0 auto;
	text-align: center;
}

/* .contact {
	margin-bottom: 3em;
} */
.contact li {
	display: block;
	list-style-type: none;
	text-indent: 0;
	text-align: center;
}

.text-background {
	background: rgba(50, 79, 79, 0.6);
	padding: 1em;
	border-radius: 15px;
}

.main-image {
	height: 40vmin;
	pointer-events: none;
	margin: 1em 0;
}

.navbar-nav {
	font-size: 14pt;
	margin: 0 auto;
}
.nav-link {
	padding-bottom: 0.5em;
}

.nav-link:hover {
	border-bottom: 2px solid royalblue;
}

.navbar-favicon {
	width: 60px;
	height: 60px;
}

p {
	color: white;
	text-align: left;
	font-size: 14pt;
	font-family: Verdana, Geneva, sans-serif;
}

.section-header {
	text-align: center;
	padding: 0.5em 0em;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	margin: 1em auto 1em auto;
	color: white;
	min-width: 175px;
}

.section-img-left {
	max-height: 275px;
	width: auto;
	margin: 1em;
	float: left;
	border: 2px solid black;
}

.section-img-right {
	max-width: 275px;
	height: auto;
	margin: 1em;
	float: right;
	border: 2px solid black;
}

/* social section */

a.social {
	margin: 0 0.5rem;
	transition: transform 250ms;
	display: inline-block;
}
a.social:hover {
	transform: translateY(-5px);
}
a.youtube {
	color: white;
}

a.facebook {
	color: white;
}

a.instagram {
	color: white;
}

.arrow {
	color: white;
	margin: 1em;
	opacity: 0.7;
}

.subtitle {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid white;
}
.title {
	margin-top: 2em;
}

.video {
	width: 560px;
	height: 315px;
	max-width: 95vw;
	margin: 2em auto;
}

.video-row,
.video-div,
.bandcamp-row {
	display: block;
	margin: 0 auto;
}

@media only screen and (max-width: 600px) {
	.section-img-left {
		min-width: 90vw;
		height: auto;
		margin: 0;
		border: none;
		float: none;
		margin-bottom: 0.5em;
	}

	.section-img-right {
		min-width: 90vw;
		height: auto;
		margin: 0;
		border: none;
		float: none;
		margin-bottom: 0.5em;
	}
	.main-image {
		width: 85vw;
		height: auto;
		margin: 0 auto;
	}
}
